<a href="https://colab.research.google.com/github/setitfree/BasicPython/blob/main/Every_from_PyPrep_lec_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 2
**Pandas**

In [ ]:
import pandas as pd
!wget https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/electoral_votes.csv

In [ ]:
!wget https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/population_2012.csv

In [31]:
electoral_votes = pd.read_csv("electoral_votes.csv") ## reads a file i.e.save the spreadsheet into the memory                                           
electoral_votes.head()

        State  Votes
0  California     55
1       Texas     38
2    New York     29
3     Florida     29
4    Illinois     20

In [11]:
electoral_votes.columns   ## Tells us columns name

Index(['State', 'Votes'], dtype='object')

In [13]:
electoral_votes.shape  ## Tells us how many rows and columns

(51, 2)

In [ ]:
electoral_votes['Votes']    ## Access  1st way

In [ ]:
electoral_votes.State     ## Access. 2nd way

In [32]:
electoral_votes = electoral_votes.set_index('State')  ## Set states as an index
electoral_votes.head()                                ## Earlier Index started from 0 (look above cell 3)

            Votes
State
California     55
Texas          38
New York       29
Florida        29
Illinois       20

In [33]:
electoral_votes.shape   ## Shape changes because now we have indexed states

(51, 1)

In [38]:
population_2012 = pd.read_csv('population_2012.csv').set_index('State')  ## Another file. Set index as state 
population_2012.head()

            Population
State
Alaska          710000
Alabama        4780000
Arkansas       2916000
Arizona        6392000
California    37254000

In [40]:
combined = population_2012.join(electoral_votes)    ## Join the 2 files with same index as states  ðŸ˜‡
combined.head()

            Population  Votes
State
Alaska          710000      3
Alabama        4780000      9
Arkansas       2916000      6
Arizona        6392000     11
California    37254000     55